 
.GridHeader
{
	background: #ffffff;
	color: #777;
     height:30px;
	font-family:Arial;
	font-size: 11px;

    padding-left:5px; 
}
.GridHeader a
{
	background: #ffffff;
	color: #777;
    height:30px;
	font-family:Arial;
	font-size: 11px;

    text-decoration:none;
     padding-left:5px;
}
.GridRow
{
	font-family: Arial;
	font-size: 11px;
    font-weight:normal;
    padding-left:5px;
    height:30px;
    vertical-align:middle;
}
.GridRow a
{
	font-family: Arial;
	font-size: 11px;
    text-decoration:none;
    color:#000;
    font-weight:normal;
    padding-left:3px;
    padding-right:3px;
}
.GridAlterRow
{
	font-family: Arial;
	font-size: 11px;
    background: #f6f6f6;
     text-decoration: none;
    padding-left:3px;
    padding-right:3px;
    height:30px;
    vertical-align:top;
   
}

.GridAlterRow a
{
	font-family: Arial;
	font-size: 11px;
    background: #f6f6f6;
    text-decoration: none;
    color:#000;
    font-weight:normal;
    padding-left:3px;
    padding-right:3px;
}

.DeletedItem
{
    font-family: Arial;
    font-size: 11px;
    text-decoration: line-through;
    color: #777;
    font-weight: normal;
    padding-left: 3px;
    padding-right: 3px;
     height:30px;
    vertical-align:top;
    
    
}


.GridHeader_Blue
{
	background: #ffffff;
    background-image: url('../images/menubar-bg.jpg');
	color: #ffffff;
     height:30px;
	font-family:Arial;
	font-size: 11px;
    font-weight:bold;
    padding-left:5px; 
}
.GridHeader_Blue a
{
	background:none;
	color: #ffffff;
    height:30px;
	font-family:Arial;
	font-size: 11px;
    font-weight:bold;
    text-decoration:none;
    padding-left:5px;
}
 