﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="HomeCare1.Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
      <table style="margin-top:50px;">
        <tr>
            <td>
                     <img src="Images/HMS_Home.PNG" width="900px"  style="display:block;" />
            </td>

        </tr>
    </table>

</asp:Content>
