﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="HomeCareDtls.master.cs" Inherits="HomeCare1.HomeCare.HomeCareDtls" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<%@ Register TagPrefix="UC2" TagName="TopMenu" Src="~/UserControls/HomeCareTopmenu.ascx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
     <script src="../Validation.js" type="text/javascript"></script>

    <link href="../Styles/style.css" rel="stylesheet" type="text/css" />

    <link href="../Styles/Maincontrols.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/Datagrid.css" rel="stylesheet" type="text/css" />

    <link href="../Styles/MenuStyle.css" rel="stylesheet" type="text/css" />
    <title></title>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        #form1 {
            height: 933px;
        }
        table
        {
            width:100%;
        }
    </style>

    <style type="text/css" media="print">
        #nottoprint {
            display: none;
        }

     
    </style>
    

</head>

<body style="margin-top: 0px; background-color: #ffffff; margin-left: 0; margin-bottom: 0px; overflow-x: hidden;" >
     
    <div style="background-color:white;margin: 0 auto; width:100%;">
    <form id="form1" runat="server">
          <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
            </asp:ToolkitScriptManager>
        <div style="height:70px;background-image:url('<%= ResolveUrl("~/Styles/Images/header_bg.PNG")%>')">
            <div style="width:80%" >
          <table cellpadding="0" cellspacing="0" width="100%" style="margin-top: 0px;padding-top:0px;" border="0">
                <tr>
                    <td style="height:20px;padding-left:15px;padding-top:0px;color:#fff;width:150px;font-weight:bold;" class="label">
                        Patient Name &nbsp;&nbsp;&nbsp;:
                   
                         <asp:Label ID="lblPTName" runat="server" ForeColor="#FFFFFF" Font-Bold="true"  Style="" CssClass="label"></asp:Label>
                    </td>
                      <td style="padding-left:15px;padding-top:0px;color:#fff;width:30px;font-weight:bold;" class="label">
                        Home Care&nbsp;:
                    
                       <asp:Label ID="lblHCID" runat="server" ForeColor="#FFFFFF" Font-Bold="true" Style="" CssClass="label"></asp:Label>

                    </td>
                     <td style="padding-left:15px;padding-top:0px;color:#fff;width:30px;font-weight:bold;" class="label">
                        Patient#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                  
                       <asp:Label ID="lblPTID" runat="server" ForeColor="#FFFFFF" Font-Bold="true" Style="" CssClass="label"></asp:Label>

                    </td>
                       <td style="padding-left:15px;padding-top:0px;color:#fff;width:40px;font-weight:bold;" class="label">
                        Nationality&nbsp;&nbsp;:
                    
                       <asp:Label ID="lblNationality" runat="server" ForeColor="#FFFFFF" Font-Bold="true" Style="" CssClass="label"></asp:Label>

                    </td>
                     <td style="padding-left:15px;padding-top:0px;color:#fff;width:40px;font-weight:bold;" class="label">
                        Policy No&nbsp;&nbsp;:
                    
                       <asp:Label ID="lblPolicyNo" runat="server" ForeColor="#FFFFFF" Font-Bold="true" Style="" CssClass="label"></asp:Label>

                          
                    </td>
                </tr>
                <tr>
                    <td style="height:20px;padding-left:15px;padding-top:0px;color:#fff;width:150px;font-weight:bold;" class="label">
                        Provider Name :
                    
                         <asp:Label ID="lblProviderName" runat="server" ForeColor="#FFFFFF" Font-Bold="true"  Style="" CssClass="label"></asp:Label>
                    </td>
                      <td style="padding-left:15px;padding-top:0px;color:#fff;width:30px;font-weight:bold;" class="label">
                        Sex&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                   
                       <asp:Label ID="lblSex" runat="server" ForeColor="#FFFFFF" Font-Bold="true" Style="" CssClass="label"></asp:Label>

                    </td>
                     <td style="padding-left:15px;padding-top:0px;color:#fff;width:30px;font-weight:bold;" class="label">
                        Mobile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                    
                       <asp:Label ID="lblMobile" runat="server" ForeColor="#FFFFFF" Font-Bold="true" Style="" CssClass="label"></asp:Label>

                    </td>
                       <td style="padding-left:15px;padding-top:0px;color:#fff;width:100px;font-weight:bold;" class="label">
                            Begin Date&nbsp;:
                   
                       <asp:Label ID="lblBeginDt" runat="server" ForeColor="#FFFFFF" Font-Bold="true" Style="" CssClass="label"></asp:Label>

                    </td>
                    <td style="padding-left:15px;padding-top:0px;color:#fff;width:40px;font-weight:bold;" class="label">
                        Policy Type&nbsp;&nbsp;:
                    
                       <asp:Label ID="lblPolicyType" runat="server" ForeColor="#FFFFFF" Font-Bold="true" Style="" CssClass="label"></asp:Label>

                          
                    </td>
                </tr>
              <tr>
                   <td style="height:20px;padding-left:15px;padding-top:0px;color:#fff;width:150px;font-weight:bold;" class="label">
                        Ref By&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                 
                         <asp:Label ID="lblRefBy" runat="server" ForeColor="#FFFFFF" Font-Bold="true"  Style="" CssClass="label"></asp:Label>
                    </td>
                      <td style="padding-left:15px;padding-top:0px;color:#fff;width:30px;font-weight:bold;" class="label">
                        Age&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                   
                       <asp:Label ID="lblAge" runat="server" ForeColor="#FFFFFF" Font-Bold="true" Style="" CssClass="label"></asp:Label>&nbsp;Y&nbsp;
                       <asp:Label ID="lblAge1" runat="server" ForeColor="#FFFFFF" Font-Bold="true" Style="" CssClass="label"></asp:Label>&nbsp;M

                    </td>
                     <td style="padding-left:15px;padding-top:0px;color:#fff;width:30px;font-weight:bold;" class="label">
                        EmiratesID#&nbsp;:
                  
                       <asp:Label ID="lblEmiratesID" runat="server" ForeColor="#FFFFFF" Font-Bold="true" Style="" CssClass="label"></asp:Label>

                    </td>
                       <td style="padding-left:15px;padding-top:0px;color:#fff;width:100px;font-weight:bold;" class="label">
                      End Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
                   
                       <asp:Label ID="lblEndDt" runat="server" ForeColor="#FFFFFF" Font-Bold="true" Style="" CssClass="label"></asp:Label>

                    </td>
                   <td style="width:100px;text-align:left;">

                    </td>
              </tr>
                </table>
             </div>
            <div class="imageRow" style="position:absolute;right:20px;z-index: 1000;top:0px;">
                    <div id="site-info" class="set">
                        <div class="single first">
                              
                            <a href="#"><asp:Image ID="imgFront" runat="server" Height="110px" Width="165px"  visible="false"/>

                            </a>
                                                
                        </div>
                    </div>
	            </div> 
        </div>
        <div style="background-color:white;margin: 0 auto;">
          
         
            <table cellpadding="0" cellspacing="0" width="100%">
               

                <tr>

                    <td style="height: 40px;padding-left: 0px; padding-right: 0px;">
                        <div id="nottoprint">
                            <UC2:TopMenu ID="TopMenu1" runat="server" />
                        </div>
                    </td>

                </tr>
        <tr>
             <td style="padding-left: 20px; padding-right: 10px;">
                <div style="width: 99%; float: left; height: auto; background-color: white;">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>

            </td>

        </tr>

        </table>
           
        </div>


    </form>
    </div>
</body>
  
</html>
